/*-------------------------------
General styles for both pages (login and registration)
----------------------------------*/

html,
body{
	height: 100%;
	width:100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/*top container for navbar*/
#top-wrapper{
	width: 100%;
	height: 80px;
	position: relative;
}

/*navbar*/
.navbar{
	font-weight: 600;
	font-size: 15px;
	line-height: 25px;
	text-transform: uppercase;
	transition: 2s ease;
}
.navbar-brand img{
	width:85%;
	padding-left: 50px;
}

.btn-control{
    margin-left: 50px;
    margin-top: -5px;
}

.btn-control a{

    color: white;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;

}
.btn-control a:hover{
    color: yellow;
    text-decoration: none;
}

/*section box wrapper*/
.box_outer-wrapper {
	width: 100%;
	padding-top: 50px; 

}

/*section title */

.text-reveal h2{
	margin: 25px 0px;
}

/* footer */
.footer-wrapper{
	margin-bottom: 10px;
    padding-top: 80px;
    text-align: center;
    font-size: 15px;

}


/*---------------------------
Login page styles 
-------------------------*/

/*login box wrapper*/

.box_inner-wrapper{
	width: 100%;
	
}
/*link to registsration*/
.register{
	text-align: right;
}
/* login.html globe image on the page */
.page-cover{
	width:70%;
	margin:30px 0px 0px 50px;
	position: relative;
}

.page-cover img {
	width: 100%;
	height: 100%;
	filter: brightness(.3);
}


/*Registration page styles*/

/*registration box wrapper*/
.register_box{
	width: 50%;
	margin: auto;
}




