/*General styles*/

html,
body{
    background-color:#487eb0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*header*/
header{
    height: 80px;
}

.current_location{
    padding:70px  20px 0px 20px;

}

.current_location span{
    color: white;
}

.current_location span a{
    color: black;
}

.current_location span a:hover{
    color: yellow;
}


.navbar{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    transition: 2s ease;
}
.btn-control{
    margin-left: 50px;
    margin-top: -5px;
}

.btn-control a{

    color: white;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    transition: .4s ease

}
.btn-control a:hover{
    color: #b33939;
    text-decoration: none;
}

.navbar-brand img{
    width:85%;
    padding-left: 50px;
}

.section-wrapper{
    margin: 30px 0px 20px 0px;
    background-color: #eee;
    

}

.section-title h2{
    
    display: inline-block;
    font-size: 45px;
    font-weight: 600;
    margin: 10px 10px 30px 10px;
    box-shadow: 5px 5px 7px #999;
}
.book-wrapper{
    position: relative;
}
.book-image{
    height: 300px;
    
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}
.book-image img{
    height: 100%;
    width: 100%;
    transition: 2s ease;
}

.book-wrapper h4{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 0px;

}

.book-wrapper h5{
    font-size: 13px;
    opacity: .8;
}
.book-wrapper:hover {
    cursor: pointer;
}

.book-wrapper:hover .book-image img {
    transform: scale(1.15);
    
}

.check-out {
    margin: 10px 0px;
    transition: 2s ease;
    
}

.check-out span {
    font-size: 18px;
}

#load-more{
    padding: 8px;
    margin: 15px auto;
    background:black;
    font-size: 14px;
    border: 2px groove skyblue;
    border-radius: 5px;
    text-align: center;    
}
#load-more a{
    font-weight: 600;
    transition: .5s ease;
    

}
#load-more:hover a{
    color:white;
}
#load-more a{
    text-decoration: none;
}

#modal-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top:0;
    left:0;
    transition: 2s ease;
  
    
}

#modal-container.hide {
display:none;
}

#modal-container.show{
    display:block;
}

#modal-content{
    width: 50%;
    max-height: 55vh;
    background-color: white;
    margin-left: 25%;
    margin-top:25vh;
    overflow-y: auto;
    transition: 2s ease;
    
}
.in{
    margin-top: 50px;
}

.book_cover{
    height: 30vh;
    width: 80%;
}

.book_cover img {
    width: 100%;
    height: 100%;

}
.description{
    margin: 15px 5px 28px 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    
}
.in h4 {
    margin:8px 0px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;


}
.in h5 {
    margin:3px 0px 10px 0px;
    color: rgba(0,0,0,.8);
    font-size: 15px;
}

.borrow_wrapper{
    margin-bottom: 20px;
}

.access-denied{
    border: 1px groove red;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
    text-align: center;
    font-weight: 600;
}

#my-account{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
   
}

.hide{
    display: none;
}
.show{
    display: block;
}
.account_details{
    background-color: white;
    min-width: 65vh;
    max-height: 55vh;
    min-height: 40vh;
    position: absolute;
    top: 60px;
    right: 170px;
    color: black;
    overflow-y: auto;
}
.custom-details{
    margin: 20px 5px;
    background-color: #eee;
    border-radius: 10px;
    padding-left: 5px;
    
    
}.detail-descr{
    width: 70%;
    margin-bottom: 20px;
    display: inline-block;
}
.detail-descr p{
    margin-bottom: 1px;
    color: rgba(0,0,0,.7);
}
.detail-descr span{
    font-weight: 600;
}
.detail-info{
    color:orangered;
    width: 20%;
    text-align: center;
    margin: 0px 10px;
    bottom:25px;
    display: inline-block;
    position: relative;

}
.account-nav{
    color:blue;
    width: 100%;
    margin-top: 5px;
    
}
.account-nav a{
    font-weight: 600;
    font-size: 18px;
}
.account-nav a:hover{
    background-color: #999;
    text-decoration: none;
    padding: 3px;
    border-radius: 8px;
}
.account-owned{
    margin-left: 20px;
    width: 40%;
    display: inline-block;
    text-align: center;
    
}
.account-library{
    width: 40%;
    display: inline-block;
    text-align: center;
    
}
.footer-wrapper{
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    

}
@media(min-width: 993px) and (max-width: 1200px){
  .book-title{
      height: 65px;
      overflow: hidden;
  }

}
@media(min-width:768px) and (max-width:992px){
   
}
@media(min-width:576px) and (max-width:767px){
    
}
@media(max-width:575px){
    .book-wrapper{
        width: 70%;
        margin: auto;
    }

}
